{% extends "@Admin/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="scssphp" output="css/user_home_index.css"
    '@AdminBundle/Resources/public/scss/User/Home/index.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/user_home_index.js"
    '@AdminBundle/Resources/public/js/User/Home/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    <header class="main-header">
        <a href="{{ url('admin_user_home_index') }}" class="logo">Enca<b>Stil</b></a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ app.user.avatar }}"
                                 class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ app.user.avatar }}"
                                     class="img-circle" alt="User Image">
                                <p>
                                    {{ app.user.email }}
                                    <small>Miembro desde {{ app.user.createdAt | format_date }}</small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ url('admin_user_profile_index') }}" class="btn btn-default btn-flat">Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ url('admin_user_logout_index') }}" class="btn btn-default btn-flat">Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-sidebar">
        <!-- Inner sidebar -->
        <div class="sidebar">
            <!-- user panel (Optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ app.user.avatar }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                </div>
            </div><!-- /.user-panel -->


        </div><!-- /.sidebar -->
    </div><!-- /.main-sidebar -->


    <div class="content-wrapper">
        <section class="content-header">{% block content_header %}{% endblock %}</section>
        <section class="content">
            {% set notices = app.session.flashBag.get('notice') %}
            {% if notices | length > 0 %}
                <div class="callout callout-success">
                    {#}<h4>Tip!</h4>#}
                    {% for flash_message in notices %}
                        <p>{{ flash_message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% set errors = app.session.flashBag.get('error') %}
            {% if errors | length > 0 %}
                <div class="callout callout-danger">
                    {#}<h4>Tip!</h4>#}
                    {% for flash_message in errors %}
                        <p>{{ flash_message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </section>
    </div>
{% endblock %}
